body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo blanco */
}

.navbar {
    background-color: #640021 !important; /* Fondo de la barra de menú */
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFA4B7; /* Color del texto de los enlaces del menú */
    font-family: "Madimi One", sans-serif;
    font-size: x-large;
}
.carousel-item img {
    width: 100%;
    height: auto;
}

.thumbnail-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Se ajusta automáticamente el número de columnas */
    gap: 10px; /* Espacio entre las miniaturas */
}

.thumbnail-gallery img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s;
}

.thumbnail-gallery img:hover {
    transform: scale(1.1);
}
#inicio {
    font-family: "Madimi One", sans-serif;
    background-color: #ffffff;
}
#pasteles {
    font-family: "Madimi One", sans-serif;
    background-color: white !important;
}
#pedidos {
    font-family: "Madimi One", sans-serif;
    background-color: #ffffff;
}
footer {
    font-family: "Madimi One", sans-serif;
}
.carousel-item img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}

/* Estilo normal del enlace de WhatsApp */
.whatsapp-link {
    display: inline-block;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: #fff;
    text-decoration: none;
    padding: 15px 25px; /* Ajusta el padding según sea necesario */
    border-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
    transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color de fondo */
}

.whatsapp-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: #fff;
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.whatsapp-link:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el mouse a blanco */
    color: #25D366; /* Cambia el color del texto al pasar el mouse a verde */
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
}

.whatsapp-link i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
#pedidos {
    background-color: #ffffff; /* Cambia el color de fondo a blanco */
}

/* Efecto de zoom al pasar el mouse */
.zoom-effect {
    overflow: hidden; /* Oculta el contenido que se desborda */
    position: relative; /* Establece el contexto de apilamiento para el contenido animado */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    width: 250px; /* Ancho del contenedor */
    height: 250px; /* Altura del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    margin-bottom: 20px; /* Margen inferior entre los contenedores */
}

.zoom-effect img {
    transition: transform 0.5s ease; /* Transición suave */
    border-radius: 50%; /* Hace que la imagen sea redonda */
    width: 100%; /* Ajusta el tamaño de la imagen para que ocupe todo el contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}

.zoom-effect:hover img {
    transform: scale(1.5); /* Escala la imagen al 150% al pasar el mouse */
}

/* Ajuste de márgenes entre las columnas */
.row [class^="col-"] {
    padding-right: 5px; /* Margen derecho */
    padding-left: 5px; /* Margen izquierdo */
}
.grab {
    cursor: grab;
}

.btn-instagram {
    font-family: "Madimi One", sans-serif;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #5073c8, #1098ad, #07b39b, #6fba82, #b5cc5c, #fde725); /* Degradado anaranjado de Instagram */
    border-color: #f09433; /* Color primario del degradado */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    display: flex; /* Usa flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    max-width: 300px; /* Ancho máximo del botón */
    margin: 0 auto; /* Centra horizontalmente el botón */
}

.btn-instagram:hover {
    background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #5073c8, #1098ad, #07b39b, #6fba82, #b5cc5c, #fde725); /* Mantén el mismo degradado al pasar el mouse */
    border-color: #f09433; /* Mantén el mismo color de borde al pasar el mouse */
}

.btn-instagram i {
    font-size: 50px; /* Tamaño del icono */
    margin-right: 10px; /* Espaciado a la derecha del icono */
}

