body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fondo blanco */
}


.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#inicio {
    font-family: "Madimi One", sans-serif;
    background-color: #ffffff;
}
#pasteleria {
    font-family: "Madimi One", sans-serif;
    background-color: white !important;
}

#coctel {
    font-family: "Madimi One", sans-serif;
    background-color: #ffffff;
}

#pedidos {
    font-family: "Madimi One", sans-serif;
    background-color: #ffffff;
}



footer {
    font-family: "Madimi One", sans-serif;
    font-size:small;
}
.carousel-item img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
    height: 100%; /* La altura se ajustará automáticamente para mantener la proporción */
}
.carousel-indicators li {
    background-color: pink; /* Cambia el color de fondo de los indicadores a rosa */
  }

  .carousel-indicators {
    position: static;
    margin-top: 10px;
  }

  .custom-carousel {
    max-width: 800px; /* ajusta este valor según tus necesidades */
    margin: 0 auto; /* centra el carrusel */
}
.carousel-item img {
    max-width: 50%; /* Asegura que las imágenes no se extiendan más allá de su contenedor */
    max-height: 50%; /* Asegura que las imágenes no se extiendan más allá de su contenedor */
    width: auto; /* Permite que las imágenes mantengan su relación de aspecto */
    height: auto; /* Permite que las imágenes mantengan su relación de aspecto */
    object-fit: cover;
    border: 2px solid pink; 
}

/* Estilo normal del enlace de WhatsApp */
.whatsapp-link {
    display: inline-block;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: #fff;
    text-decoration: none;
    padding: 15px 25px; /* Ajusta el padding según sea necesario */
    border-radius: 10px; /* Ajusta el radio del borde según sea necesario */
    font-size: 20px; /* Ajusta el tamaño del texto según sea necesario */
    transition: background-color 0.3s; /* Agrega una transición suave para el cambio de color de fondo */
    width: 300px; /* Ancho máximo del botón */
}

.whatsapp-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: #fff;
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.whatsapp-link:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el mouse a blanco */
    color: #25D366; /* Cambia el color del texto al pasar el mouse a verde */
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
}

.whatsapp-link i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

/* Ajuste de márgenes entre las columnas */
.row [class^="col-"] {
    padding-right: 5px; /* Margen derecho */
    padding-left: 5px; /* Margen izquierdo */
}
.grab {
    cursor: grab;
}

.btn-instagram {
    font-family: "Madimi One", sans-serif;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to left, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #5073c8); /* Degradado anaranjado de Instagram */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    display: flex; /* Usa flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    max-width: 300px; /* Ancho máximo del botón */
    margin: 0 auto; /* Centra horizontalmente el botón */
    border-radius: 10px;
}

.btn-instagram:hover {
    font-family: "Madimi One", sans-serif;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(to left, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #5073c8); /* Mantén el mismo degradado al pasar el mouse */
    padding: 10px 20px; /* Ajusta el espaciado interno */
    display: flex; /* Usa flexbox */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    max-width: 300px; /* Ancho máximo del botón */
    margin: 0 auto; /* Centra horizontalmente el botón */
    border-radius: 10px;

}

.btn-instagram i.fa-instagram {
    font-size: 3rem; /* Ajustar tamaño del icono de Instagram en la sección de coctelería */
}

/* Estilos personalizados */
.logo-img {
    max-width: 280px;
    height: auto;
}

/* Estilos para la galería de imágenes */
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery .col-md-3 {
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Madimi One", sans-serif;
}

.gallery {
    background-color: #fff; /* Color blanco */
}


.logo-img-small {
    max-width: 200px; /* Ajusta el tamaño del logo en las paginas que no son el Inicio */
}


/* INICIO styles de botones de inicio de redes sociales */

.btn-facebook, .btn-instagram1 {
    border: 2px solid #FFA4B7; /* Agregar borde rosa */
    border-radius: 50px; /* Hacer botones redondos */
    color: #FFA4B7; /* Cambiar color del texto */
    padding: 10px 20px; /* Ajustar el espacio interno */
    display: flex; /* Alinear elementos horizontalmente */
    align-items: center; /* Alinear contenido verticalmente */
    justify-content: center; /* Alinear contenido horizontalmente */
    font-family: "Madimi One", sans-serif;
}

.btn-facebook:hover, .btn-instagram1:hover {
    background-color: #FFA4B7; /* Cambiar color de fondo al pasar el ratón */
    color: #fff; /* Cambiar color del texto al pasar el ratón */
}

.btn-facebook i, .btn-instagram i {
    font-size: 1.2rem; /* Ajustar tamaño del icono */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

.btn-facebook i, .btn-instagram1 i {
    font-size: 1.5rem; /* Ajustar tamaño del icono */
    margin-right: 5px; /* Espacio entre el icono y el texto */
}

#redes-sociales {
    margin-top: -100px; /* Reducir el espacio hacia la sección anterior */
}
#pedidos {
    margin-top: 20px; /* Reducir el espacio hacia la sección anterior */
}
.jumbotron-heading {
    margin-top: -70px; /* Reducir el espacio hacia la sección anterior */
}

/* FIN styles de botones de inicio de redes sociales */

/*INICIO styles btn wsp index */
/* styles.css */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; /* Se ha aumentado un poco el tamaño */
    height: 50px; /* Se ha aumentado un poco el tamaño */
    background-color: #25D366;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    z-index: 999;
    transition: transform 0.3s ease; /* Agregamos una transición para suavizar el cambio de tamaño */
  }
  
  /* Agregamos un estilo para quitar el subrayado al pasar el mouse */
  .whatsapp-button:hover {
    text-decoration: none;
    background-color: #25D366;
    color: #fff;
  }
  
  /* Agregamos un estilo para hacer el botón un poco más grande al pasar el mouse */
  .whatsapp-button:hover {
    transform: scale(1.5); /* Aumentamos el tamaño al 110% */
  }
  
/*FIN styles btn wsp index */


/* INICIO Agrega este código en tu CSS para estilizar el modal al abrir imagenes */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* Fondo semitransparente */
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%; /* Establece el ancho máximo del modal */
    max-height: 80%; /* Establece la altura máxima del modal */
    object-fit: contain; /* Mantiene la proporción original de la imagen */
    background-color: transparent; /* Fondo transparente */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #FFA4B7; /* Cambia el color a rosa */
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #FFA4B7;
    text-decoration: none;
}

/* FIN Agrega este código en tu CSS para estilizar el modal al abrir imagenes */

/* INICIO footer sticky */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
}

footer {
    margin-top: auto;
}
/* FIN footer sticky */

/* INICIO burger menu */
.navbar {
    background-color: #FFF4F9 !important; /* Fondo de la barra de menú */
    border-bottom: 1px solid #FEF3C7;
}
/* Cambia el fondo del menú al pasar el mouse */
/* Cambiar el color de fondo del texto del enlace al pasar el mouse */
.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    color: white; /* Color de texto por defecto */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Fondo transparente por defecto */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
    z-index: -1;
}

.navbar-nav .nav-link:hover {
    color: #640021 !important; /* Cambia el color del texto al pasar el mouse */
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFA4B7; /* Color del texto de los enlaces del menú */
    font-family: "Madimi One", sans-serif;
    font-size: x-large;
}
.navbar-toggler-custom {
    background-color: #FFA4B7; /* Color rosa */
    border-color: #ff69b4; /* Color del borde */
}

.navbar-toggler-icon-custom {
    background-image: url("img/logosinfondo.png"); 
    width: 30px; /* Ancho del icono del burger menu */
    height: 30px; /* Altura del icono del burger menu */
}

.logo {
    width: 60px; /* Ancho del logo */
    height: auto; /* Altura automática para mantener la proporción */
}
/* FIN burger menu */